@import url('//fonts.googleapis.com/css?family=Lustria');
@import url('//fonts.googleapis.com/css?family=Lato');
@import url('//fonts.googleapis.com/css?family=Eagle+Lake');

html {
  background: url('image/dimension.png');
  height: 100%;
}

body {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  font-family: Lato;
  background: white;
  min-height: 100%;
  border: 1px solid black;
  border-width: 0 1px;
  box-shadow: 0 0 50px 5px gray;
}

#gh-weblog-container > h1 {
	display: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Lustria;
}

header h1 {
  font-family: 'Eagle Lake';
}

#gh-weblog-container .entries .content:before {
  display: none;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: rgb(100,180,230);
}
