@import url('http://fonts.googleapis.com/css?family=Lustria');
@import url('http://fonts.googleapis.com/css?family=Lato');

html {
  background: url('image/dimension.png');
}

body {
  width: 960px;
  margin: auto;
  font-family: Lato;
  background: white;
}

#gh-weblog-container h1 {
	display: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Lustria;
}
