@import url('http://fonts.googleapis.com/css?family=Lustria');
@import url('http://fonts.googleapis.com/css?family=Lato');

html {
  background: url('image/dimension.png');
  height: 100%;
}

body {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  font-family: Lato;
  background: white;
  min-height: 100%;
}

#gh-weblog-container h1 {
	display: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Lustria;
}

#gh-weblog-container .entries .content:before {
  display: none;
}